header {
    @apply fixed py-5 top-0 z-20 w-full;
}

.l-header {
    @apply flex items-center justify-between;

    &--scrolled {
        @apply bg-gray-900 transition-all duration-700;

        .l-header__nav {
            a {
                @apply text-white;
            }
        }

        .l-header__side-btn {
            @apply text-white;
        }
    }

    @screen md {
        @apply px-10;
    }

    &__left {
        @apply flex items-center justify-between gap-7 md:gap-24;
    }

    &__image {
        @apply object-contain h-20 w-28;
    }

    &__nav {
        @apply hidden items-center justify-between gap-7;

        @screen md {
            @apply flex;
        }

        a {
            @apply text-white uppercase hover:underline font-medium text-lg;
        }
    }

    &__button {
        @apply hidden text-white border border-white uppercase font-medium rounded-lg text-base px-4 py-2 text-center;

        @screen md {
            @apply flex;
        }
    }

    &__side-btn {
        @apply md:hidden focus:outline-none text-white;
    }

    &__side-nav {
        @apply lg:hidden fixed inset-0 bg-gray-800 bg-opacity-75 z-50;

    }

    &__container {
        @apply fixed inset-y-0 right-0 w-60 bg-gray-900 overflow-y-auto z-50;
        transform: translateX(100%);
        transition: transform 0.3s ease-out;

        button {
            @apply flex items-center justify-between px-4 py-6 text-white;
        }

        .contact {
            @apply underline;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__side-nav.visible &__container {
        transform: translateX(0);
    }

    &__copyright {
        @apply absolute w-full py-6 text-xs justify-center items-center text-center text-white border-t border-gray-600 bottom-0;
    }

    &__items {
        @apply px-7 py-4;

        a {
            @apply text-white text-[1.20rem] hover:text-primary block px-4 py-3;
            animation: fadeIn 0.3s ease forwards;
            opacity: 0;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateX(100%);
            }
    
            to {
                opacity: 1;
                transform: translateX(0);
            }
        }

        @for $i from 1 through 5 {
            a:nth-child(#{$i}) {
                animation-delay: ($i * 0.1s);
            }
        }
    }
}
